@charset "utf-8";

// Cannot use GDS Transport font on a non GOV.UK domain due to licensing
$toolkit-font-stack: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$toolkit-font-stack-tabular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// GOV.UK Toolkit and GOV.UK Elements
@import 'govuk_elements';

// From alphagov/product-page-example
@import 'util/printable';
@import 'modules/govuk-logo';
@import 'grid_layout';

@import 'modules/header';
@import 'modules/footer-categories';

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include core-19;
}

b,
strong {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}

#global-header-bar {
  height: 0;
}
