<% content_for(:page_title, 'Support - Problem') %>
<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">Report a problem</h1>
      </legend>

      <label class="form-label" for="textarea">
        What do you need help with?
      </label>
      <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="8"></textarea>

      <label class="form-label" for="name">Your name</label>
      <input class="form-control" id="name" type="text" name="name">

      <label class="form-label" for="service">Your service</label>
      <input class="form-control" id="service" type="text" name="service">

      <label class="form-label" for="email">Your email</label>
      <input class="form-control" id="email" type="text" name="email">

      <label class="form-label" for="email-cc">Email of anyone you want cc'd</label>
      <input class="form-control" id="email-cc" type="text" name="email-cc">

    </fieldset>
    <br><input class="button button-get-started" type="submit" value="Continue">
  </div>
</form>
