<% content_for(:page_title, 'Support - Question') %>
<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">Ask a question & give feedback</h1>
      </legend>

      <label class="form-label" for="textarea">
        What is your question?
      </label>
      <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="8"></textarea>

      <label class="form-label" for="name">Your name</label>
      <input class="form-control" id="name" type="text" name="name">

      <label class="form-label" for="email">Your email</label>
      <input class="form-control" id="email" type="text" name="email">

    </fieldset>
    <br><input class="button button-get-started" type="submit" value="Continue">
  </div>
</form>
