<% content_for :footer_top do %>
  <div class='footer-categories'>
    <div class='footer-categories-wrapper'>
      <div class='grid-row'>
        <div class='column-one-quarter'>
          <ul>
            <li><a href='https://govuk-verify.cloudapps.digital/get-started-check-verify-is-right/'>Get Started</a></li>
            <li><a href='/'>Support</a></li>
            <li><a href='http://alphagov.github.io/identity-assurance-documentation/'>Documentation</a></li>
            <li><a href='https://verifystatus.digital.cabinet-office.gov.uk/'>System Status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
